body {
    width: 100vw;
    height: 100vh;
}

.top-header {
    width: 100vw;
    height: 12vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-busca {
    display: flex;
    align-items: center;

    height: 30%;
}

.logo-busca input {
    margin-left: 2rem;
}

.botao-acesso {
    height: 30%;
}

.botton-header {
    width: 100vw;
}

.banner {
    width: 100vw;
}